doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title
    link(rel='stylesheet', href='styles/main.css')
  body(data-init-data=data.initialCount)
    h1=title
    #container!=app

  script(type='text/javascript', src='javascripts/bundle-index.js')